// global variables

//////////////////////////////// COLORS ////////////////////////////////
$clr-light-green: #7ed56f;
$clr-Medium-green: #55c57a; 
$clr-dark-green: #28b485; 
$clr-white: #ffffff;
$clr-dark-grey: #777;
$clr-black: #000;

// Grid
$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;