 /* button global styles */

 .btn:link,
 .btn:visited {
   text-decoration: none;
   text-transform: uppercase;
   padding: .5rem 4rem;
   display: inline-block;
   border-radius: 10rem;
   font-weight: 400;
   transition: all .2s; 
}

.btn:hover{ 
 transform:  translateY(-3px);
 box-shadow: 0 .1rem 20px rgba($clr-black,.2);
}

.btn:active{ 
 transform:  translateY(-1px);
 box-shadow: 0 .5rem 1rem rgba($clr-black,.2);

}
.btn--white {
 background-color: $clr-white;
 color: $clr-black;
}
.btn--animated {} 


