.secondary-heading{
  // background-image: linear-gradient(to right,  $clr-light-green,$clr-dark-green);

  // color: $clr-light-green;
  letter-spacing: 2px;
  font-size: 3.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
 }
